Repository google-org/new-project-ny, pull requests merged in 2020-05, with the labels that each got.

#49 The Phantom of the Docker: A tragedy of gradle misconfiguration
  .github/workflows/gradle.yml.disabled
  callmeback/build.gradle
  helloworld/build.gradle
Labels: infrastructure

#117 Add a producer script that successfully sends calls to the backend
  simulation/producer/README.md
  simulation/producer/lib/simulation.js
  simulation/producer/main.js
  simulation/producer/package-lock.json
  simulation/producer/package.json
Labels: producer script

#124 Add simulated time field for reservation creation
  callmeback/src/main/java/org/google/callmeback/api/Reservation.java
  callmeback/src/main/java/org/google/callmeback/api/ReservationEvent.java
  callmeback/src/main/java/org/google/callmeback/api/ReservationEventType.java
Labels: backend

#161 Calculate exponential moving average
  callmeback/README.md
  callmeback/backend/src/main/java/org/google/callmeback/api/QueueingRepository.java
  callmeback/backend/src/main/java/org/google/callmeback/api/ReservationEvent.java
  callmeback/backend/src/main/java/org/google/callmeback/api/ReservationWaitTime.java
  callmeback/backend/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  callmeback/backend/src/main/resources/application.yml
Labels: enhancement, estimation

#176 remove issue of having a <div> within a <p>
  callmeback/frontend/src/components/WaitDetails.jsx
Labels: frontend

#181 Removed ReservationWaitTime
  callmeback/backend/src/main/java/org/google/callmeback/api/QueueingRepository.java
  callmeback/backend/src/main/java/org/google/callmeback/api/Reservation.java
  callmeback/backend/src/main/java/org/google/callmeback/api/ReservationWaitTime.java
Labels: backend, bug, estimation
